* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #ee7600, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #ee7600, 0 0 60px #ee7600, 0 0 70px #ee7600;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #006400, 0 0 40px #006400, 0 0 50px #006400,
                   0 0 60px #006400, 0 0 70px #006400, 0 0 80px #006400;
    }
  }
  body{
    background-color:seagreen;
  }
  .ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid rgb(249, 181, 46);
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(249, 181, 46);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(249, 181, 46);
  box-shadow:0 0 20px rgb(249, 181, 46);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
  h3{
    font-size:60px;;
    align-items:center;
    color:#65350f;
  }
  img{
    cursor: pointer;
  }
  h4{
    font-size:60px;;
    align-items:center;
    color:rgb(249, 181, 46);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:seagreen;
    box-shadow: 0px 5px 1.2px 0px #80471c;
  }
  .logo a{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(189, 233, 118);
    text-decoration: none;
    margin-top:10px;
  }
  .btn{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(249, 181, 46);
    text-decoration: none;
  }
  .glow {
    font-size:40px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .btn {
    padding: 9px 25px;
    background-color:#fff200;
    border-radius:15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .btn:hover {
    color:#fff200;
    background-color:rgb(249, 181, 46);
  }
  .cards {
    display: table;
    align-items:center;
    align-content: center;
  }
  .card {
    font-family: "Candara", sans-serif;
    width: 350px;
    overflow: hidden;
    background:#e0ac69;
    box-shadow: 0px 10px 25px 0px #d9790b;
    display: inline-block;
    flex-direction: column;
    border-radius:20px;
    margin: 2rem;
    cursor: pointer;
  }
  .card:hover{
    transform: scale(1.1);
  }
  .card-image img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  
  .footer {
  
    background-color: #110707;
    width: 100%;
    line-height: 2;
    text-align: center;
    color: rgb(255, 255, 255);
  
  }
  .profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:25px;
    border: 25px groove #d9790b;
    transition-duration: 0.4s;
    transition-property: transform;
    cursor: pointer;
  }
  .profile-image img:hover {
    transform: scale(1.2);
  }
  .card-content h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
  }
  .card-content h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
    color:#231c80;
    text-decoration:underline;
    text-decoration-color:#0f4a65;  
    text-decoration-style: double;  
  }